<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create New User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Create New User</div>
        <form name="form1" method="POST">
            
        
        
         
            Username: <input type="text" ng-model="user.name"> <br>
            Password: <input type="password" ng-model="user.password"> <br>
            
            <button ng-click="addUser(user)" >create</button>
                   
</form>
        <p>{{result}}
                    </body>
                    </html>
